<meta name="viewport" content="width=500, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>Visyonr POC - Realtime communication with WebRTC</title>

<link type="text/css" rel="stylesheet" media="all" href="css/main.css"/>


<script type="text/javascript" src="scripts/jquery-3.1.1.min.js"></script>
<!--script type="text/javascript" src="scripts/jquery.panzoom.min.js"></script>
<script type="text/javascript" src="scripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="scripts/Matrices.js"></script>
<script type="text/javascript" src="scripts/ViewBox.js"></script>
<script type="text/javascript" src="scripts/pathfinding-browser.min.js"></script>
<script src="scripts/grid.js" type="text/javascript"></script>
<script type="text/javascript" src="scripts/jsKeyboard.js"></script>


<script type="text/javascript" src="scripts/hall.js"></script>
<script type="text/javascript" src="scripts/search.js"></script>
<script type="text/javascript" src="scripts/fplocate.js"></script>
<script type="text/javascript" src="scripts/core.js"></script-->

